# Cleaning procedure.

In [15]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [54]:
df = pd.read_csv(
            "/Users/edwardsujono/Python_Project/h1b_visa_analytic/data/h1b_kaggle.csv"
)

We need to delete WITHDRAWN status from the data collections. WITHDRAWN status means that particular user has withdrawn their visa request before the result is decided, so that kind of data is unrelevant to our analysis. 
Latitude and Longitude are not relevant to our analysis as well since the value is continuos.

In [57]:
df.drop(df[df.CASE_STATUS == "WITHDRAWN"].index, inplace=True)
df.drop("lon", 1, inplace=True)
df.drop("lat", 1, inplace=True)

ValueError: labels ['lon'] not contained in axis

Remove all the empty column

In [58]:
df = df.dropna()
df

array([ 2016.,  2015.,  2014.,  2013.,  2012.,  2011.])

Inner join with the real SOC data because several data in SOC_NAME is rubbish

SOC_NAME
13-2011.01 (rubbish)                                         34.852618
15-1121                                             39.911959
15-1132                                             40.712784
15-1199.01                                          40.680873
15-1199.01 SW QUALITY ASSURANCE ENGNRS & TESTERS    33.448377
15-1199.08, BUSINESS INTELLIGENCE ANALYSTS          37.774929
17-2051                                             40.865286
17-2072                                             33.306160
27-3031                                             40.712784
29-1064.00-OBSTETRICIANS AND GYNECOLOGISTS          29.424122
<FONT><FONT>CARPINTEROS</FONT></FONT>               40.760779
ACCOUNTANT                                          40.712784
ACCOUNTANTS                                         38.139306
ACCOUNTANTS AND AUDITORS                            37.460301
ACTORS                                              35.167705
ACTUARIES                                           39.561959
ACUPUNCTURISTS                                      47.322322
ADMINISTRATIVE SERVICES MANAGERS                    36.416023
ADULT BASIC AND SECONDARY EDUCATION AND LITERACY    38.963734
ADULT BASIC AND SECONDARY EDUCATION AND LITERACY T  37.391110
ADULT BASIC SECOND EDUC AND LIT TEACH AND INSTRUC   32.298757
ADVERTISING AND PROMORTIONS MANAGERS                25.761680
ADVERTISING AND PROMOTIONS MANAGER                  34.052234
ADVERTISING AND PROMOTIONS MANAGERS                 37.423927
ADVERTISING SALES AGENTS                            38.849203
AEROSPACE ENGINEERING AND OPERATIONS TECHNICIANS    32.959448
AEROSPACE ENGINEERS                                 36.894987

In [59]:
df_soc = pd.read_csv(
            "/Users/edwardsujono/Python_Project/h1b_visa_analytic/data/soc_code.csv"
        )
result = pd.merge(df,  df_soc[["Code", "Title"]], left_on="SOC_NAME", right_on="Title", how="inner")
df = result
df.YEAR.unique()
# result.to_csv("/Users/edwardsujono/Python_Project/h1b_visa_analytic/data/clean_data.csv")

array([ 2014.,  2013.,  2012.,  2011.])

Get all the CASE STATUS first

In [12]:
all_case_status = df.CASE_STATUS.unique()
all_case_status

array(['CERTIFIED-WITHDRAWN', 'CERTIFIED', 'DENIED', 'REJECTED'], dtype=object)

Basically we just interested with these 4 statuses: 'CERTIFIED-WITHDRAWN', 'CERTIFIED', 'DENIED', 'REJECTED', all the rest is unusefull.

In [53]:
df = df[df.CASE_STATUS.isin(['CERTIFIED-WITHDRAWN', 'CERTIFIED', 'DENIED', 'REJECTED'])]
df.CASE_STATUS.value_counts()
df.YEAR.unique()

array([ 2014.,  2013.,  2012.,  2011.])

# Visualization

On each year applicants that is certified increase

In [ ]:
%matplotlib inline
df_year_case_status = df[['CASE_STATUS', 'YEAR']]
ax=sns.factorplot('YEAR', data=df_year_case_status, hue='CASE_STATUS', kind='count', palette='PRGn')
sns.set(style="white", color_codes=True)

Next feature that we interested to investigate is the SOC_CODE, since it is the major deciding factor of any applicants

In [22]:
df.head(3)

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,Code,Title
0,1266531,CERTIFIED-WITHDRAWN,TEXAS STATE UNIVERSITY-SAN MARCOS,"Biological Scientists, All Other",POSTDOCTORAL RESEARCH ASSOCIATE,Y,43118.0,2014.0,"SAN MARCOS, TEXAS",19-1029.00,"Biological Scientists, All Other"
1,1266650,CERTIFIED-WITHDRAWN,INDIANA UNIV. PURDUE UNIV. INDIANAPOLIS,"Biological Scientists, All Other",POSTDOCTORAL RESEARCH ASSOCIATE,Y,33405.0,2014.0,"GARY, INDIANA",19-1029.00,"Biological Scientists, All Other"
2,1266656,CERTIFIED-WITHDRAWN,THE J. DAVID GLADSTONE INSTITUTES,"Biological Scientists, All Other",BIOINFORMATICS FELLOW,Y,46155.0,2014.0,"SAN FRANCISCO, CALIFORNIA",19-1029.00,"Biological Scientists, All Other"

In [12]:
df_year_soc_code = df[['YEAR', 'Code']]
df_year_soc_code.Code.value_counts()

15-1121.00    284982
15-1131.00    220764
15-1132.00    187537
15-1199.00     67990
15-1133.00     43183
13-1111.00     37688
13-2051.00     33056
13-2011.00     29946
17-2141.00     25473
17-2072.00     22468
17-2071.00     21447
13-1161.00     21419
15-1141.00     21367
29-1069.00     21213
15-2031.00     18634
15-1142.00     17957
19-1042.00     16254
11-3021.00     15467
29-1123.00     14284
19-1021.00     13895
17-2112.00     12227
11-2021.00     10247
17-2051.00      9651
19-1029.00      9611
15-2041.00      8859
29-1063.00      8825
19-2031.00      8350
27-1024.00      7790
11-1021.00      7100
29-1051.00      6967
               ...
43-4141.00         1
27-2042.01         1
51-3092.00         1
37-2012.00         1
51-3023.00         1
37-2021.00         1
39-4021.00         1
47-5021.00         1
31-9094.00         1
29-2054.00         1
47-5013.00         1
49-9061.00         1
51-6011.00         1
51-4199.00         1
47-2011.00         1
49-3041.00         1
51-9198.00         1
53-7033.00         1
31-2011.00         1
35-3041.00         1
53-5021.01         1
49-3021.00         1
19-1031.02         1
39-3092.00         1
47-2152.00         1
53-4031.00         1
13-1032.00         1
49-9081.00         1
47-4041.00         1
47-2041.00         1
Name: Code, Length: 546, dtype: int64

In [44]:
%matplotlib inline
df_year_soc_code = df[['YEAR', 'Code']]
tops = df_year_soc_code.Code.value_counts().index.tolist()[:5]
# print (tops)
df_year_soc_code  = df_year_soc_code[df_year_soc_code.Code.isin(tops)]
df_year_soc_code.YEAR.unique()
ax=sns.factorplot('YEAR', data=df_year_soc_code, hue='Code', kind='count')
sns.set(style="white", color_codes=True)

array([ 2014.,  2013.,  2012.,  2011.])

2015-2016 data is mostly missing due to the not-listed SOC-NAME

In [52]:
df_year_soc_code = df[['YEAR', 'Code']]
# df_year_from_2015_2016 = df_year_soc_code[df_year_soc_code.YEAR.isin([2015., 2016.])]
# df_year_from_2015_2016
df.YEAR.unique()

array([ 2014.,  2013.,  2012.,  2011.])